<html> 
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body >
<a href-"index.php">
<div class="container" >
<div class= "row"  >
<div class="col-sm-8" style="background-color: #d7370f; ">
<header class="main-header" style="height:40px">
  <span class="logo-lg" style="color:#fff;font-size:30px;margin-left: 5%"><b>We</b>Assist</span>
</header>
<br/>
</div>
</div>

<div class="row" >
<div class="col-sm-8" style="padding-bottom: 1%;background-color: #d7370f;" >
<div style="margin-left:5%">
<p style="padding-top: 2%;color:#fff;font-family:Helvetica;font-size:15px"><b>Dear user</b>, 
</p><br/>
<p  style="color:#fff;font-family:sans-serif;font-size:15px;margin-top: 1%">Your Account has been sucessfully subscribed to our newsletter.</p>
<p  style="color:#fff;font-family:sans-serif;font-size:15px;">
WeAssist provides the best handyman services. Customer satisfaction is our priority. We provide services at a competitive pricing, full commitment and in the smoothest way possible. With WeAssist be sure to always get the best!
</p>

<p  style="color:#fff;font-family:sans-serif;font-size:15px;margin-top: 1%"> We have a comitted team and will reach you in 24 hours. </p><br/>
<p  style="color:#fff;font-family:sans-serif;font-size:15px;margin-top: 1%"> Thank you.</p><br/>
 </div>
</div>
</div>
<div class="row" >
<div class="col-sm-8" style="height:3%;padding:2%;background-color:#d7370f"  >
    <footer class="main-footer" style="color:#fff;font-size: 10px" >
    <div class="pull-right hidden-xs">
      <b style="color:#fff;">Version</b> 2.3.2
    </div>
    <strong style="color:#fff;"> Copyright &copy; 2015-2016 <a href="../../main/" style="color:#fff;">WeAssist</a>.</strong> All rights
    reserved.
  </footer>
</div>
</div>
</div>
</body>
</head> 
</html>
