<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="main" style="background-color:green">
<div id="sh"></div></div>
<br/>
<div id="clickme" style="background-color:blue;width:100px;height: 80px" >
</div>
</body>
<script>
$.get("jsonpr.php",function(data){
var temp="<br/>";
for(var i=0;i<data.length;i++)
{
temp+="  "  +data[i].name + "  " +data[i].age +"<br/>";
$('#sh').append(temp);;	
}
//$('#main','#sh').html(temp);;

});
$('#clickme').click(function(){
$.post("jsonpr.php")
{

},
function(){}

});
</script>
</html>